@media screen and (max-device-width: 400px) {
        .body_blog .post1 p {
                font-size: 300%;
        }
}
@font-face {
	font-family: abcd;
	src: url('dafont1.otf');
}
@font-face {
	font-family: abc;
	src: url('dafont2.otf');
}
body {
        overflow: auto;
}
.header {
	width: 92%;
	margin: 0 auto;
	overflow: hidden;
}
.logo {
	overflow: auto;
}
 .header .logo img {
	width: 20%;
	border-radius: 50%; 
        margin-left: 10%;     
}
.header .logo img, p {
	float: left;
}
.header p {
	margin-left: 20%;
	font-size: 260%;
	margin-top: 2%;
        font-family: abcd; 
}

@media screen and (min-width: 500px) {
	.header .logo img {
		width: 11%;
	}
}
@media screen and (max-width:  700px) {
	.header .logo p {
		margin-left: 10%;
		font-size: 170%;
		margin-top: 2%;
	}	 
}
@media screen and (max-device-width:  400px) {
	.header .logo p {
		margin-left: 6%;
		font-size: 450%;
		margin-top: 2%;
	}
        .header .logo img {
                width: 23%;
                margin-left: 0%;
        }	 
}
.navi {
	margin: -3% 0 0 15%;
	width: 30%;
} 
.navi ul li {
	padding-right: %;
}
.nav {
	width: 50%;
	margin: -5% 0 0 60%;
	padding: 1%;
	border-radius: 10px;
}
.nav ul li {
	list-style-type: none;
	display: inline;
	padding: 0%;
}
.nav ul li a {
	text-decoration: none;
	color: white;
	padding: 3%;
	border-right: 1px solid white;
	background-color: blue;
	border-radius: 20px;
}
.nav ul li a:hover {
	background-color: white;
	color: blue;
	transition: 0.5s ease;
	border: 1px solid blue;
}

@media screen and (max-device-width: 400px)   
  {
	.nav ul li a {
		padding: 4%;
		border-right: 1px solid white;
		border-radius: 10px;
                font-size: 220%;
	}
	.nav ul li {
		padding: 0%;
	}
	.nav {
		width: 80%;
		margin: -9% 0 0 18%;
	}
}

/* body start here */

#leftgear { 
	position: fixed;
  	width: 15%;
  	height: auto; 
  	left: 4%;	
  	color: red;
}
#rightgear { 
  	position: fixed;
 	width: 15%;
 	height: auto; 
 	right: 4%;
}

.body {
	width: 100%;
	margin-top: 5%;	
	overflow: auto;
}
.col1 {
	width: 50%;
	margin: 0 auto;
	overflow: auto;
}
.body .col1 img {
	width: 33%;
	border-radius: 50%;
	margin: 0 auto;
	display: block;
        cursor: pointer;
        border: 10px solid green;
}
 .body .col1 h1 {
	text-align: center;
	color: green;
	font-family: abcd;
}
.body .col1 p {
	text-align: center;
	font-family: abc;
	margin-left: 0%;
    font-size: 150%; 
    margin-top: -2%; 
}
@media screen and (max-device-width: 400px) {
        .body .col1 {
                width: 80%;
        }
        .body .col1 img {
                width: 70%;
                border: 25px solid green;
        } 
        .body .col1 h1 {
                font-size: 600%; 
        }
        .body .col1 p {
                font-size: 230%; 
        }
}


/*     blog     */

/*   contact     */
.contactform {
	width: 72%;
	margin: 0 auto;
	border: 1px solid black;
}
.form {
	margin: 0 auto;
}
.form h1{
	color: blue;
	text-align: center;
}
.form a  i{
	font-size: 500%;
	color: black;
	padding: 2.5%;
	 animation-duration: 0s;

}
.form a {
	padding: ;
}
.form i:hover {
	 font-size: 440%;
}
.github i:hover {
	color: black;
	border: 2px solid #000;
	border-radius: 50%;
}
.facebook i:hover {
	color:  #3b5998;
	border: 2px solid #3b5998;
	border-radius: 50%;
}
.quora i:hover {
	color:  #a82400;
	border: 2px solid #a82400;
	border-radius: 50%;
}
.twitter i:hover {
	color:  #00aced;
	border: 2px solid #00aced;
	border-radius: 50%;
}
.instagram i:hover {
	color: #8a3ab9;
	border: 2px solid #8a3ab9;
	border-radius: 50%;
}
.link {
	margin-left: 28%;
}





@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

.footer-social-icons {
	    display:block;
	    margin-left: 20%;
	}
	.social-icon {
	    color: #fff;
	}
	ul.social-icons {
	    margin-top: 10px;
	}
	.social-icons li {
	    vertical-align: top;
	    display: inline;
	    height: 100px;
	}
	.social-icons a {
	    color: #fff;
	    text-decoration: none;
	}
	.fa-facebook {
	    padding:10px 14px;
	    -o-transition:.5s;
	    -ms-transition:.5s;
	    -moz-transition:.5s;
	    -webkit-transition:.5s;
	    transition: .5s;
	}
	.fa-facebook:hover {
	    background-color: blue;
	    border-radius: 50%;
	}
	.fa-twitter {
	    padding:10px 12px;
	    -o-transition:.5s;
	    -ms-transition:.5s;
	    -moz-transition:.5s;
	    -webkit-transition:.5s;
	    transition: .5s;
	}
	.fa-twitter:hover {
	    background-color: #00aaed;
	    border-radius: 50%;
	}
	.fa-quora {
	    padding:10px 14px;
	    -o-transition:.5s;
	    -ms-transition:.5s;
	    -moz-transition:.5s;
	    -webkit-transition:.5s;
	    transition: .5s;
	}
	.fa-quora:hover {
	    background-color: #a82400;
	    border-radius: 50%;
	}
	.fa-youtube {
	    padding:10px 14px;
	    -o-transition:.5s;
	    -ms-transition:.5s;
	    -moz-transition:.5s;
	    -webkit-transition:.5s;
	    transition: .5s;
	}
	.fa-youtube:hover {
	    background-color: #e64a41;
	    border-radius: 50%;
	}
	.fa-instagram {
	    padding:10px 14px;
	    -o-transition:.5s;
	    -ms-transition:.5s;
	    -moz-transition:.5s;
	    -webkit-transition:.5s;
	    transition: .5s;
	}
	.fa-instagram:hover {
	    background-color:  #8a3ab9;
	    border-radius: 50%;
	}
	.fa-github {
	    padding:10px 9px;
	    -o-transition:.5s;
	    -ms-transition:.5s;
	    -moz-transition:.5s;
	    -webkit-transition:.5s;
	    transition: .5s;
	}
	.fa-github:hover {
	    border: 6px solid black;
	    border-radius: 50%;
	}
