@media screen and (max-device-width: 400px) {
        .body_blog .post1 p {
                font-size: 300%;
        }
}
@font-face {
	font-family: abcd;
	src: url('dafont1.otf');
}
@font-face {
	font-family: abc;
	src: url('dafont2.otf');
}
body {
        overflow: auto;
}
.header {
	width: 92%;
	margin: 0 auto;
	overflow: hidden;
}
.logo {
	overflow: auto;
}
 .header .logo img {
	width: 20%;
	border-radius: 50%; 
        margin-left: 10%;     
}
.header .logo img, p {
	float: left;
}
.header p {
	margin-left: 20%;
	font-size: 260%;
	margin-top: 2%;
        font-family: abcd; 
}

@media screen and (min-width: 500px) {
	.header .logo img {
		width: 11%;
	}
}
@media screen and (max-width:  700px) {
	.header .logo p {
		margin-left: 10%;
		font-size: 170%;
		margin-top: 2%;
	}	 
}
@media screen and (max-device-width:  400px) {
	.header .logo p {
		margin-left: 6%;
		font-size: 450%;
		margin-top: 2%;
	}
        .header .logo img {
                width: 23%;
                margin-left: 0%;
        }	 
}
.navi {
	margin: -3% 0 0 15%;
	width: 30%;
} 
.navi ul li {
	padding-right: %;
}
.nav {
	width: 50%;
	margin: -5% 0 0 60%;
	padding: 1%;
	border-radius: 10px;
}
.nav ul li {
	list-style-type: none;
	display: inline;
	padding: 0%;
}
.nav ul li a {
	text-decoration: none;
	color: white;
	padding: 3%;
	border-right: 1px solid white;
	background-color: blue;
	border-radius: 20px;
}
.nav ul li a:hover {
	background-color: white;
	color: blue;
	transition: 0.5s ease;
	border: 1px solid blue;
}

@media screen and (max-device-width: 400px)   
  {
	.nav ul li a {
		padding: 4%;
		border-right: 1px solid white;
		border-radius: 10px;
                font-size: 220%;
	}
	.nav ul li {
		padding: 0%;
	}
	.nav {
		width: 80%;
		margin: -9% 0 0 18%;
	}
}

/* body start here */

.body {
	width: 100%;
	margin-top: 5%;	
	overflow: auto;
}
.col1 {
	width: 50%;
	margin: 0 auto;
	overflow: auto;
}
.body .col1 img {
	width: 33%;
	border-radius: 50%;
	margin: 0 auto;
	display: block;
        cursor: pointer;
        border: 10px solid green;
}
 .body .col1 h1 {
	text-align: center;
	color: green;
	font-family: abcd;
}
.body .col1 p {
	text-align: center;
	font-family: abc;
	margin-left: 0%;
    font-size: 150%; 
    margin-top: -2%; 
}
@media screen and (max-device-width: 400px) {
        .body .col1 {
                width: 80%;
        }
        .body .col1 img {
                width: 70%;
                border: 25px solid green;
        } 
        .body .col1 h1 {
                font-size: 600%; 
        }
        .body .col1 p {
                font-size: 230%; 
        }
}


/*     blog     */

/*   contact     */
.contactform {
	width: 72%;
	margin: 0 auto;
	border: 1px solid black;
}
.form {
	
}
