.body_blog {
	width: 66%;
	margin: 0 auto;
    font-size: 130%;
    box-shadow: 0 0  20px grey;
    padding: 2%;
    overflow: auto;
}
 
@media screen and (max-device-width: 400px) {
        .body_blog .post1 h1 {
                font-size: 300%;
         }
        .body_blog {
                width: 90%;
         }
        .body_blog .post1  p {
                font-size: 150%;
        }
        .continue a {
                font-size: 220%;
        }
}